@import '../../styles/variable';

.cobalt-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  overflow: hidden;
  text-align: center;
  margin-inline: 8px;
  margin-block: 32px;
  color: rgba(0, 0, 0, 0.25);
}

.cobalt-empty-description {
  text-align: center;
}
