.app {
  color: aqua;
}

/* .token.operator {
  background: none;
} */

/* pre[class*='language-']::before,
pre[class*='language-']::after {
  box-shadow: none !important;
} */

/* .prism-code {
  padding: 20px !important;
} */
