.cobalt-message-container {
  position: fixed;
  z-index: 99;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.cobalt-message {
  transition: all 0.3s;
}

.cobalt-message-position {
  width: fit-content;
  height: auto;
  overflow: hidden;
  box-shadow: 0 1px 6px rgb(0 0 0 / 20%);
  margin: 0 auto;

  .cobalt-message-item {
    padding: 8px 16px;
    border-radius: 4px;
    background: #fff;
    display: flex;
    align-items: center;
    color: $font-color;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    gap: 0 5px;
  }
}

.alert-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.alert-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 200ms ease-in-out;
}

.alert-exit {
  opacity: 1;
  transform: translateY(0);
}

.alert-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 300ms ease-in-out;
}
